<a href="https://colab.research.google.com/github/soomin461/Kaggle_data_practice/blob/main/Kaggle_New_York_Taxi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Download kaggle Pakage
#!pip install kaggle

# Make Directory
!mkdir -p ~/.kaggle

# Kaggle.json upload
from google.colab import files
uploaded = files.upload()

#kaggle competitions {list, files, download, submit, submissions, leaderboard}
#kaggle datasets {list, files, download, create, version, init}
#kaggle kernels {list, init, push, pull, output, status}
#kaggle config {view, set, unset}

!cp kaggle.json ~/.kaggle
!chmod 600 /root/.kaggle/kaggle.json

Saving kaggle.json to kaggle (1).json

In [2]:
# download new-york taxi Dataset
!kaggle competitions download -c new-york-city-taxi-fare-prediction # forbidden error -> go to the homepage and agree

# unzip datasets
!unzip new-york-city-taxi-fare-prediction.zip

# unzip train.csv file
!unzip train.csv.zip

new-york-city-taxi-fare-prediction.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  new-york-city-taxi-fare-prediction.zip
replace GCP-Coupons-Instructions.rtf? [y]es, [n]o, [A]ll, [N]one, [r]ename: unzip:  cannot find or open train.csv.zip, train.csv.zip.zip or train.csv.zip.ZIP.

## File size

In [3]:
import os
def convert_bytes(file_path, unit=None):
  size = os.path.getsize(file_path)
  if unit ==  'KB':
    return print('FIle Size : ' +str(round(size/1024, 3))+ ' Kilobytes')
  elif unit == 'MB':
    return print('FIle Size : ' +str(round(size/(1024*1024), 3))+ ' Megabytes')
  elif unit == 'GB':
    return print('FIle Size : ' +str(round(size/(1024*1024*1024), 3))+ ' Gigabytes')
  else:
    return print('FIle Size : ' +str(size)+ ' bytes')

convert_bytes('train.csv')
convert_bytes('train.csv', 'GB')

FIle Size: 5697178298 bytes
FIle Size: 5.306 Gigabytes

In [13]:
file_list = [i for i in os.listdir() if i.split('.')[-1] == 'csv']
for file in file_list:
  print('The {} Size'.format(file))
  convert_bytes(file)
  convert_bytes(file, 'KB')
  convert_bytes(file, 'MB')
  convert_bytes(file, 'GB')
  print('-'*5)

The train.csv Size
FIle Size: 5697178298 bytes
FIle Size: 5563650.682 Kilobytes
FIle Size: 5433.253 Megabytes
FIle Size: 5.306 Gigabytes
-----
The test.csv Size
FIle Size: 983020 bytes
FIle Size: 959.98 Kilobytes
FIle Size: 0.937 Megabytes
FIle Size: 0.001 Gigabytes
-----
The sample_submission.csv Size
FIle Size: 343271 bytes
FIle Size: 335.226 Kilobytes
FIle Size: 0.327 Megabytes
FIle Size: 0.0 Gigabytes
-----

## Data Visulization

In [39]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from collections import Counter

def skip_logic(index, skip_num):
  if index%skip_num==0:
    return False
  return True

train = pd.read_csv('./train.csv', nrows = 3000000) # skiprows= lambda x: skip_logic(x, 4), parse_dates=['pickup_datetime'])
test = pd.read_csv('./test.csv') # 4의 배수 False, 4의 배수 아님 -> True
submission = pd.read_csv('./sample_submission.csv')

In [35]:
# EDA
print(train.info())
print(test.info())

# 1   fare_amount        : 택시 요금
# 2   pickup_datetime    : 택시 승차 시 시간
# 3   pickup_longitude   : 택시 승차 시 경도
# 4   pickup_latitude    : 택시 승차 시 위도
# 5   dropoff_longitude  : 택시 하차 시 경도
# 6   dropoff_latitude   : 택시 하차 시 위도
# 7   passenger_count    : 택시 승객수
# Y_true : fare_amount

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 8 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   key                1000000 non-null  object
 1   fare_amount        1000000 non-null  float64
 2   pickup_datetime    1000000 non-null  object
 3   pickup_longitude   1000000 non-null  float64
 4   pickup_latitude    1000000 non-null  float64
 5   dropoff_longitude  999990 non-null   float64
 6   dropoff_latitude   999990 non-null   float64
 7   passenger_count    1000000 non-null  int64
dtypes: float64(5), int64(1), object(2)
memory usage: 61.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9914 entries, 0 to 9913
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   key                9914 non-null   object
 1   pickup_datetime    9914 non-null   object
 2   pickup_longitude   9914 non-null   float64
 3   pickup_latitude    9914 non-null   float64
 4   dropoff_longitude  9914 non-null   float64
 5   dropoff_latitude   9914 non-null   float64
 6   passenger_count    9914 non-null   int64
dtypes: float64(4), int64(1), object(2)
memory usage: 542.3+ KB
None

In [36]:
train.head(5)

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [44]:
train['fare_amount'].describe().reset_index().set_index('index').loc[['min', 'max']]

       fare_amount
index
min         -62.00
max        1273.31

-  fare amount => Negative Value 
  - It is not easy to understand the meaning
  -  Delete negative fare amount value

In [54]:
print('Count(Fare amount < 0) :', train[train['fare_amount']<0]['fare_amount'].count())
print('Count(Fare amount >= 0) :', train[train['fare_amount']>=0]['fare_amount'].count())
Counter(train['fare_amount']<0)

Count(Fare amount < 0) : 124
Count(Fare amount >= 0) : 2999876

In [66]:
train.drop(train[train['fare_amount']<0].index, axis=0, inplace=True)
Counter(train['fare_amount']<0)

Counter({False: 2999876})

In [69]:
train['fare_amount']

1273.31